@model CinemaManagementSystem.Models.MemberInfor
@{
    ViewBag.Title = "Resigner";
    Layout = "~/Views/Shared/LoginAndResigner.cshtml";
}
<link rel="stylesheet" href="~/Content/ElementUI/element-ui.css" />
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/vue.js"></script>
<link rel="shortcut icon" href="~/Content/img/logo.png" type="image/x-icon">
<script src="~/Scripts/ElementUI/element-ui.js"></script>

<div class="max-w-md w-full mx-auto space-y-8" id="app">
    <div class="text-center">
        <h2 class="mt-6 text-3xl font-bold text-gray-900">欢迎回来</h2>
        <p class="mt-2 text-sm text-gray-500">其他注册方式</p>
    </div>
    <div class="flex flex-row justify-center items-center space-x-3">

        <a h
           class="
                                    w-11
                                    h-11
                                    items-center
                                    justify-center
                                    inline-flex
                                    rounded-2xl
                                    font-bold
                                    text-lg
                                    bg-blue-900
                                    hover:shadow-lg
                                    cursor-pointer
                                    transition
                                    ease-in
                                    duration-300
                                " v-on:click="changemode(0)">

            <img class="w-7 h-7"
                 src="~/Content/img/邮箱ico.png" />

        </a>
        <a href="javascript:"
           class="
                                    w-11
                                    h-11
                                    items-center
                                    justify-center
                                    inline-flex
                                    rounded-2xl
                                    font-bold
                                    text-lg text-white
                                    bg-blue-400
                                    hover:shadow-lg
                                    cursor-pointer
                                    transition
                                    ease-in
                                    duration-300
                                ">
            <img style="height: 20px;"
                 src="~/Content/img/新图网_QQ的头像企鹅图标_ixintu.com.png" />
        </a>
        <a href="javascript:"
           class="
                                    w-11
                                    h-11
                                    items-center
                                    justify-center
                                    inline-flex
                                    rounded-2xl
                                    font-bold
                                    text-lg text-white
                                    bg-blue-500
                                    hover:shadow-lg
                                    cursor-pointer
                                    transition
                                    ease-in
                                    duration-300
                                " v-on:click="changemode(1)">
            <img src="~/Content/img/手机ico.png" class="w-7 h-7" />

        </a>

    </div>

    <div id="change">
        <div v-if="isShow">
            <div class="flex items-center justify-center space-x-2">
                <span class="h-px w-16 bg-gray-200"></span>
                <span class="text-gray-300 font-normal">使用手机号注册</span>
                <span class="h-px w-16 bg-gray-200"></span>
            </div>

            <form method="post" action="checklogin">
                <input type="hidden" name="remember" value="true" />
                <div class="relative">
                    <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">手机号</label>
                    <div class="rounded-2xl">
                        <div>
                            <input class="
                 w-full
                content-center
                text-base
                px-4
                py-2
                border-b
                rounded-2xl
                border-gray-300
                focus:outline-none focus:border-indigo-500
               "
                                   placeholder="请输入您的手机号码" name="tel" id="phonenum" />
                        </div>
                    </div>
                </div>
                <div class="relative" style="margin-top:30px;margin-bottom:30px">
                    <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">密码</label>
                    <div class="rounded-2xl">
                        <div>
                            <input class="
                 w-full
                content-center
                text-base
                px-4
                py-2
                border-b
                rounded-2xl
                border-gray-300
                focus:outline-none focus:border-indigo-500
               "
                                   placeholder="请输入您的密码" name="telpass" id="telpass" />
                        </div>
                    </div>
                </div>
                <div class="mt-8 content-center">
                    <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">验证码</label>
                    <input class="
                    w-full
                    content-center
                    text-base
                    px-4
                    py-2
                    border-b
                    rounded-2xl
                    border-gray-300
                    focus:outline-none focus:border-indigo-500
                "
                           placeholder="请输入验证码" name="check" id="entercode" />
                    <div style="float:right;margin-top:-33px;position:relative;margin-right:35px">
                        <el-button type="text" id="sendcodes" style="margin-top:-10px" :disabled="disabled" v-on:click="sendcode">发送验证码</el-button>
                        @*<a href="#" id="sendcodes" disabled="true">发送验证码</a>*@
                    </div>
                </div>

            </form>
            <div>
                <button type="button"
                        class="
                    w-full
                    flex
                    justify-center
                    bg-gradient-to-r
                    from-indigo-500
                    to-blue-600
                    hover:bg-gradient-to-l
                    hover:from-blue-500
                    hover:to-indigo-600
                    text-gray-100
                    p-4
                    rounded-full
                    tracking-wide
                    font-semibold
                    shadow-lg
                    cursor-pointer
                    transition
                    ease-in
                    duration-500
                " style="margin-top:40px" onclick="checkcodes()">
                    注册
                </button>
            </div>
        </div>
        <div v-else>
            <div class="flex items-center justify-center space-x-2">
                <span class="h-px w-16 bg-gray-200"></span>
                <span class="text-gray-300 font-normal">使用邮箱注册</span>
                <span class="h-px w-16 bg-gray-200"></span>
            </div>

            <form method="post" action="Login">
                <input type="hidden" name="remember" value="true" />
                <div class="relative">
                    <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">邮箱账号</label>
                    <div class="rounded-2xl">
                        <div>
                            <input class="
                 w-full
                content-center
                text-base
                px-4
                py-2
                border-b
                rounded-2xl
                border-gray-300
                focus:outline-none focus:border-indigo-500
               "
                                   placeholder="请输入您的邮箱账号" name="tel" id="Email" />
                        </div>
                    </div>
                </div>
                <div class="mt-8 content-center">
                    <label class="ml-3 text-sm font-bold text-gray-700 tracking-wide">密码</label>
                    <input class="
                    w-full
                    content-center
                    text-base
                    px-4
                    py-2
                    border-b
                    rounded-2xl
                    border-gray-300
                    focus:outline-none focus:border-indigo-500
                "
                           placeholder="请输入密码" name="check" id="PassWord" />
                    <div style="float:right;margin-top:-33px;position:relative;margin-right:35px">


                    </div>
                </div>

            </form>
            <div>
                <button type="submit"
                        class="
                    w-full
                    flex
                    justify-center
                    bg-gradient-to-r
                    from-indigo-500
                    to-blue-600
                    hover:bg-gradient-to-l
                    hover:from-blue-500
                    hover:to-indigo-600
                    text-gray-100
                    p-4
                    rounded-full
                    tracking-wide
                    font-semibold
                    shadow-lg
                    cursor-pointer
                    transition
                    ease-in
                    duration-500
                " style="margin-top:100px" onclick="checkMail()">
                    注册
                </button>
            </div>
        </div>

    </div>
    <p class="
                items-center
                justify-center
                mt-10
                text-center text-md text-gray-500
            ">
        <span>已有账号?</span>
        <a href="Login"
           target="_blank"
           class="
                    text-indigo-400
                    hover:text-blue-500
                    no-underline
                    hover:underline
                    cursor-pointer
                    transition
                    ease-in
                    duration-300
                ">登陆</a>

    </p>



</div>


<script>
    new Vue({
        el: '#app',
        data:
            function () {
                return {
                    isShow: false,
                    disabled: undefined
                };
            },
        methods: {
            sendcode() {
                var but = document.getElementById("sendcodes")
                this.disabled = true
                var time = 60;
                var _this = this
                //发送验证码倒计时
                var timer = setInterval(function () {
                    if (time == -1) {
                        clearInterval(timer)
                        _this.disabled = false;
                        but.innerText = '获取验证码';
                    } else {
                        but.innerText = time + '秒后重新获取';
                        time--;
                    }
                }, 1000)
                $.ajax({
                    type: "post",
                    url: "/LoginAndResinger/Sendcode/",　　　　//请求链接格式：页面文件/请求的操作(页面的带有WebMethod前缀的静态函数)
                    data: JSON.stringify　　　　　　　  //传递的参数使用JSON.stringify转译为JSON格式
                        ({
                            "tel": $("#phonenum").val()
                            /*"code": $("#UserName").val(),*/
                            //传递给后台的参数格式："参数名":值。参数名与参数个数一定要与后台函数的参数名及参数个数完全一致
                        }),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                    },
                    error: function (err) {
                        alert(err.responseText)
                    }
                });
            },
            changemode: function (select) {
                if (select == 1) {
                    this.isShow = true
                }
                else {
                    this.isShow = false
                }
            },

        }

    })
    function checkcodes() {
        $.ajax({
            type: "post",
            url: "/LoginAndResinger/checkcodes/",　　　　//请求链接格式：页面文件/请求的操作(页面的带有WebMethod前缀的静态函数)
            data: JSON.stringify　　　　　　　  //传递的参数使用JSON.stringify转译为JSON格式
                ({
                    "tel": $("#phonenum").val(),
                    "check": $("#entercode").val(),
                    "telpass": $("#telpass").val(),
                    /*"code": $("#UserName").val(),*/
                    //传递给后台的参数格式："参数名":值。参数名与参数个数一定要与后台函数的参数名及参数个数完全一致
                }),
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                if (data != "验证码错误!") {
                    alert("登陆成功")
                    location.href = '/Index/Index/'
                }
                else {
                    alert(data)
                }

            },
            error: function (err) {
                alert("未知原因，联系开发商")
            }
        })
    }
    function checkMail() {
        $.ajax({
            type: "post",
            url: "/LoginAndResinger/checkMail/",　　　　//请求链接格式：页面文件/请求的操作(页面的带有WebMethod前缀的静态函数)
            data: JSON.stringify　　　　　　　  //传递的参数使用JSON.stringify转译为JSON格式
                ({
                    "Email": $("#Email").val(),
                    "PassWord": $("#PassWord").val()
                    /*"code": $("#UserName").val(),*/
                    //传递给后台的参数格式："参数名":值。参数名与参数个数一定要与后台函数的参数名及参数个数完全一致
                }),
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                if (data == "1") {
                    alert("激活邮件发送成功，请于10分钟内确认激活")
                }
                else {
                    alert("邮箱已经注册！");
                }
            },
            error: function (err) {
                alert("邮箱注册功能维护中,如有不便请理解")
            }
        })
    }

    //var time = 60;
    //var timer = setInterval(function () {
    //    if (time == -1) {
    //        clearInterval(timer)
    //        button.disabled = '';
    //        button.innerText = '获取验证码';
    //    } else {
    //        button.value = time + '秒后重新获取';
    //        time--;
    //    }
    //}, 1000)


</script>