
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
    <link rel="stylesheet" href="~/Content/ElementUI/element-ui.css" />

</head>
<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/ElementUI/element-ui.js"></script>

<body>
<h1></h1>
</body>
</html>
