
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <script src="~/Scripts/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="~/Content/ElementUI/index.css">
    <!-- 引入组件库 -->
    <script src="~/Scripts/index.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet"href="~/Content/css/bootstrap.min.css">
    <script src="~/Scripts/bootstrap.min.js"></script>


</head>
<style>
    .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        line-height: 150px;
        margin: 0;
    }

    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
    }
</style>

<body>

</body>
</html>
